.projects-wrapper{    
    border-top: dashed 1px #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.projects-wrapper h1{
    color: #fff;
    font-size: 50px;
}

.project-wrapper{
    /* padding-left:275px; */
    /* display: flex; */
}

.carousel{
    width:38%;
    margin: 25px 0 75px 0;
}

.carousel img{
    height: 350px
}

.project-description{
    width: 35%;
    margin: 0 75px;
}

.project-description h1{
    font-size: 23px;
}

.project-description a{
    color: #fff;
    text-decoration: underline;
}

.project-description p{
    color: rgb(150,150,150);
    text-align: left;
    font-size: 16.5px;
    font-weight: 600;
    padding: 5px 35px;
    margin: 0 35px;
}

@media(min-width:1200px){
.projects-wrapper{    
    border-top: dashed 1px #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.projects-wrapper h1{
    color: #fff;
    font-size: 50px;
}

.project-wrapper{
    padding-left:275px;
    display: flex;
}

.carousel{
    width:38%;
    margin: 25px 0 75px 0;
}

.carousel img{
    height: 350px
}

.project-description{
    width: 35%;
    margin: 0 75px;
}

.project-description h1{
    font-size: 23px;
}

.project-description a{
    color: #fff;
    text-decoration: underline;
}

.project-description p{
    color: rgb(150,150,150);
    text-align: left;
    font-size: 16.5px;
    font-weight: 600;
    padding: 5px 35px;
    margin: 0 35px;
}
}