.about-wrapper{
    border-top: solid 5px #61dbfb;
    padding-bottom: 40px;
    background-color: #fff;
} 

.about-title{
margin-top: 50px;
color: rgb(150,150,150);
font-size: 50px;
}
#about div p{
    padding:0 50px;
    line-height: 25px;
}


#about p{
text-align: justify;  
color: rgb(125, 125, 125);
font-size: 19px;
font-weight: 900;
}

.about-stack{
color: #61dbfb;
margin: 0;
}

@media(min-width:1200px){
.about-wrapper{
    border-top: dashed 1px #fff;
    padding-bottom: 40px;
} 

.about-title{
margin-top: 50px;
color: #fff;
font-size: 50px;
}
#about div p{
    padding:0 450px;
    line-height: 25px;
}


#about p{
text-align: justify;  
color: rgb(150,150,150);
font-size: 18px;
font-weight: 900;
}

.about-stack{
color: #fff;
margin: 0;
}
}