.navbar-dd{
    z-index: 1;
    background-color: #04080cc1;
    /* margin-right: 35px; */
}

.navbar-dd li{
    border: solid rgb(150,150,150) .5px;
    display: flex;
    justify-content: center;
}

.navbar-dd a{
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    /* padding: 10px 115px; */
}

@media(min-width:350px){
.navbar-dd a{
    padding: 10px 135px;
}
}

@media(min-width:370px){
.navbar-dd a{
    padding: 10px 140px;
}
}

@media(min-width:410px){
.navbar-dd a{
    padding: 10px 160px;
}
}

