.navbar{
    background-color: #04080a50;
}

.burger-wrapper{
    position: absolute;
    right: 10px;
}

.burger-logo{
    height: 30px;
    margin-top: 10px;
}

.burger-wrapper-active{
    position: absolute; 
    right: -35px;
}
.burger-logo-active{
    height: 30px;
    margin: 10px -135px 0 135px;
    transform: rotate(90deg);
}

@media(min-width:1200px){
.navbar{
    background-color: #04080a50;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 400px 50px 400px;
    margin-bottom: -125px;
}
  
.navbar a{
    color: #fff;
    display: flex;
    font-size: 18px;
        }
    }