
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 75px 400px 0px 400px;
    margin-bottom: -75px;
}
  
.navbar a{
    color: #fff;
    display: flex;
    font-size: 18px;
        }