
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 75px 250px 50px 250px;
}
       
.navbar a{
    text-decoration: none;
    color: #fff;
    display: flex;
        }