.stack{
    border-top: solid 5px #61dbfb;
}

.tech-title{
    color: #fff;
    margin-top: 30px;
    font-size: 35px;
}

.stack span{
    color: rgb(150,150,150);
    font-weight: 900;
    font-size: 20px;
}

.stack img{
    height: 50px;
    animation: fade 5s linear;
}

.row-one{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px 0;
}

.row-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
}

.row-three{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px 5px;
}

@keyframes fade{
    0%{opacity: 0}
    100%{opacity: 1}
}
@media(min-width: 1000px){
.stack{
    border-top: dashed 1px #fff;
    padding-bottom: 25px;
}

.tech-title{
    color: #fff;
    margin-top: 50px;
    font-size: 50px;
}

.stack span{
    color: rgb(150,150,150);
    font-weight: 900;
    font-size: 20px;
}

.stack img{
    height: 140px;
    animation: fade 5s linear;
}

.row-one{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px 0;
}

.row-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 150px;
}

.row-three{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px 0;
}

.row-four{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 150px;
}

@keyframes fade{
    0%{opacity: 0}
    100%{opacity: 1}
}
}